// theme color
$es-color-primary: #1e40af;
$es-color-highlight: #fcf050;
$es-color-disabled: #c0c0c0;
// text color
$es-text-color: #1e3a8a;
$es-text-dark: #333;
$es-text-gray: #6b7280;
// background color
$es-bg-color: #fff;
// opacity
$es-opacity-hover: 0.05;
$es-opacity-active: 0.1;
// dark-mode color
$es-dark-text: #fff;
$es-dark-bg: #333;
$es-dark-primary: #18181c;
$es-dark-gray: #aaa;

:export {
  ESColorPrimary: $es-color-primary;
  ESColorHighlight: $es-color-highlight;
  ESColorDisabled: $es-color-disabled;

  ESTextColor: $es-text-color;
  ESTextDark: $es-text-dark;
  ESTextGray: $es-text-gray;

  ESBgColor: $es-bg-color;

  ESOpacityHover: $es-opacity-hover;
  ESOpacityActive: $es-opacity-active;

  ESDarkText: $es-dark-text;
  ESDarkBg: $es-dark-bg;
  ESDarkPrimary: $es-dark-primary;
  ESDarkGray: $es-dark-gray;
}
